.form__clock {
  float: right;
}

.form__clock--date {
  font-family: 'Source Code Pro', monospace;
  color: black;
  font-size: smaller;
}

@media (max-width: 767px) {
  .form__clock--date {
    display: grid;
    grid-template-columns: auto;
    word-break: break-all;
  }
}