.form__button {
  display: block;
  padding: 10px;
  max-width: 500px;
  float: right;
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 18px;
  color: #fff;
  background-color: #4bc970;
  text-align: center;
  border-radius: 5px;
  border: 1px solid #3ac162;
  width: 100%;
}