html {
  box-sizing: border-box;
  background-image: url("https://img5.goodfon.com/wallpaper/nbig/7/55/coins-stack-metal.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

*, ::after, ::before {
  box-sizing: inherit;
}

